extends noPicLayout

block content
  .container 

    h1.text-white.display-3 My Shopping List
    .row
      .col-6.bg-light
        for l in list[0].list
          .card.p-3
            .card-body
              h4.card-title=l
      .col
        .container
          .row
            .col-8.offset-2
              button.btn.btn-outline-success.w-75.mr-auto.ml-auto Add Item
              a.btn.btn-danger.w-75(href='#') Clear List






    